
.form-check-input:checked {
  background-color: #6777ef; /* Ubah warna sesuai keinginan Anda */
}

#counter {
    border: 1px solid #ccc; /* Warna border awal */
    transition: border-color 0.3s; 
}

#counter:hover {
    border-color: #6777ef;
}

#decrease {
    background-color: white;
    color: black;
    transition: background-color 0.3s; 
}

#decrease:hover {
    color: white;
    background-color: #6777ef;
}

#increase {
    background-color: white;
    color: black;
    transition: background-color 0.3s; 
}

#increase:hover {
    color: white;
    background-color: #6777ef;
}

#number-counter {
    transition: border-color 0.2s;

}

#number-counter:focus {
    border-color: #6777ef;
}

.card-product {
    border: 2px solid #ccc;
    transition: border-color 0.3s; 
}

.card-product-active {
    border: 2px solid #6777ef;
    transition: border-color 0.3s; 
}

.card-product:hover {
    border-color: #6777ef; 
}

.variation-item {
    font-weight: normal;
    border : 1px solid grey;
    background-color : white;
    color: black;
    transition: border-color 0.3s; 
    transition: background-color 0.3s; 
}

.variation-item {
    font-weight: normal;
    border : 1px solid grey;
    background-color : white;
    color: black;
    transition: border-color 0.3s; 
    transition: background-color 0.3s; 
}

.variation-item:hover {
    border-color: #6777ef;
}

.active-var-item {
    color: white;
    background-color: #6777ef; 
}

#card-variation {
    border : 1px solid #ccc;
    transition: border-color 0.3s; 
}

#card-variation:hover {
    border-color: #6777ef;
}

.variation-confirm:hover {
    border: 1px solid #6777ef;
    background-color: #6777ef;
}

.variation-click {
    border-color: #6777ef;
    background-color: #6777ef;
}

span {
    cursor: default
}

.form-check-input {
    border: 2px solid #ccc;
}

.head-check-input {
    border: 2px solid #6777ef;
}

.card-summary {
    border: 2px solid #ccc;
    transition: border-color 0.3s;
}

.card-summary:hover {
    border-color: #6777ef; 
}

.transition {
    transition: opacity 0.3s ease; /* Transisi hanya untuk opacity */
}

#reload-similar-product {
    position: absolute;
    top: 11%;
    left: 84%
}

#checkout:hover {
    border: 1px solid #6777ef;
    background-color: #6777ef;
}

/* Style untuk label saat checkbox tidak dicentang */
.btn-check-outlined + label {
    color: #6777ef !important;             /* Mengubah warna teks */
    border-color: #6777ef !important;      /* Mengubah warna border */
}

/* Style untuk label saat mouse hover */
.btn-check-outlined + label:hover {
    background-color: #6777ef !important; /* Mengubah warna background saat hover */
    color: white !important;              /* Mengubah warna teks saat hover */
}

/* Style untuk label saat checkbox dicentang */
.btn-check-outlined:checked + label {
    background-color: #6777ef !important; /* Mengubah warna background saat checked */
    color: white !important;              /* Mengubah warna teks saat checked */
    border-color: #6777ef !important;     /* Menjaga warna border */
}

/* Style untuk label saat fokus */
.btn-check-outlined:focus + label {
    box-shadow: 0 0 0 0.2rem rgba(103, 119, 239, 0.5) !important; /* Shadow dengan warna yang sesuai */
}


.card-related-products {
    opacity: 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    transform: scale(0.7);
}

.show {
    opacity: 1; /* Atur opacity menjadi 1 ketika ditampilkan */
    transform: scale(1);
}

.hide {
    opacity: 0; /* Atur opacity menjadi 0 ketika disembunyikan */
    pointer-events: none; /* Nonaktifkan interaksi pengguna saat elemen disembunyikan */
}

